@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

:root {
    --first-font: 'Fraunces', serif;
    --second-font: 'Barlow', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
}

.header-container-left img {
    width: 236px;
    height: 26px;
    flex-shrink: 0;
}

.header-container-right nav ul {
    display: flex;
    gap: 33px;
    list-style-type: none;
}

.header-container-right nav ul li a {
    color: #83888F;
    font-family: var(--second-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-container-right nav ul li a:hover {
    color: #333D4B;
}

.hero-container {
    background-image: url(img/Bitmap.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 250px;
}

.hero-container-title {
    display: flex;
    flex-direction: column;
}

.hero-container-title h1 {
    color: #FEFCF7;
    font-family: var(--first-font);
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    /* 100% */
}

.hero-container-title p {
    color: #FEFCF7;
    font-family: var(--second-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
    margin-top: 32px;
    margin-bottom: 56px;
    /* 162.5% */
}


.hero-container-title .button {
    text-decoration: none;
    width: 217px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 6px;
    color: #66d2cf;
    text-align: center;
    font-family: var(--first-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    padding: 15px 31px;
    border: 2px solid #66D2CF;
    transition: all 0.3s;
}

.hero-container-title .button:hover {
    background-color: #66D2CF;
    color: #fff;
}

.header-icon {
    display: none;
}


.collection-container {
    position: relative;
    text-align: center;
}

.collection-container-top {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.collection-container-top h1 {
    font-size: 167px;
    z-index: 1;
    background: #E1E1DE;
    font-family: var(--first-font);
    background: linear-gradient(to bottom, #DBDBDA 0%, #F5F5F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collection-container-main-box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

.collection-container-box {
    /* width: 225px; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.collection-container-box img {
    width: 220px;
    height: 180px;
    flex-shrink: 0;
}

.collection-container-box h3 {
    color: #333D4B;
    text-align: center;
    font-family: var(--first-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    /* 133.333% */
}

.collection-container-box p {
    color: #333D4B;
    text-align: center;
    font-family: var(--second-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    opacity: 0.7;
    /* 162.5% */
}

.us-container {
    background-color: #282F38;
    padding-top: 100px;
    color: #fff;
    position: relative;
    /* height: 500px; */
    border-radius: 10px;
    margin-top: 200px;
}

.us-container-title {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 300px;
}

.us-container-title-h1 h1 {
    color: #FEFCF7;
    text-align: center;
    font-family: var(--first-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    /* 120% */
}

.us-container-title-p p {
    color: #FEFCF7;
    text-align: center;
    font-family: var(--second-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
    padding: 0px 50px;
    /* 162.5% */
}

.us-container-main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.us-container-box {
    display: flex;
    flex-direction: column;
    gap: 56px;
    border-radius: 8px;
    background-color: #0E8784;
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    padding-top: 72px;
}

.us-container-box-img img {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}

.us-container-box-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.us-container-box-text h3 {
    color: #FEFCF7;
    text-align: center;
    font-family: var(--first-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    /* 133.333% */
}

.us-container-box-text p {
    color: #FEFCF7;
    text-align: center;
    font-family: var(--second-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.works-container-title h2 {
    color: #83888F;
    font-family: var(--first-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-top: 300px;
    margin-bottom: 100px;
    /* 133.333% */
}

.works-container-mian-box {
    display: flex;
    gap: 95px;
}

.works-container-box h1 {
    color: #FDD6BA;
    font-family: var(--first-font);
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 40px;
    /* 100% */
}

.works-container-box h2 {
    color: #333D4B;
    font-family: var(--first-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin-bottom: 42px;
    /* 112.5% */
}

.works-container-box p {
    color: #333D4B;
    font-family: var(--second-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.works-button {
    margin-top: 65px;
    margin-bottom: 215px;
}

.works-button a {
    color: #66D2CF;
    text-align: center;
    font-family: var(--first-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    border-radius: 6px;
    background: #fff;
    border: 2px solid #66D2CF;
    text-decoration: none;
    padding: 15px 30px;
    transition: 0.3s;
    /* 138.889% */
}

.works-button a:hover {
    background-color: #66D2CF;
    color: #fff;
}

.footer-container {
    background-color: #2c343e;
    padding: 47px 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 70px;
}

.footer-container-left {
    display: flex;
    align-items: center;
    gap: 103px;
}

.footer-container-left-part2 ul {
    display: flex;
    gap: 33px;
    list-style-type: none;
}

.footer-container-left-part2 ul li a {
    color: #83888F;
    font-family: var(--second-font);
    font-size: 12px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    transition: all 0.2s;
}

.footer-container-left-part2 ul li a:hover {
    color: #fff;
}

.footer-container-right {
    display: flex;
    gap: 40px;
}

.footer-container-right a {
    text-decoration: none;
    color: #FEFCF7;
    font-size: 20px;
}

.footer-container-right a:hover {
    color: #FDD6BA;
}

@media screen and (max-width: 1217px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .header-container-right nav ul li a {
        color: #83888F;
        font-family: var(--second-font);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        /* 125% */
        letter-spacing: 0.923px;
        text-transform: uppercase;
    }

    .hero-container {
        background-image: url(img/Bitmap.png);
        background-position: center;
    }

    .hero-container-title h1 {
        color: #FEFCF7;
        font-family: var(--first-font);
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        /* 100% */
    }

    .hero-container-title p {
        color: #FEFCF7;
        font-family: var(--second-font);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 166.667% */
    }

    .collection-container-top {
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: center;
        top: 0px;
    }

    .collection-container-top h1 {
        font-size: 120px;
        z-index: 2;
        background: #E1E1DE;
        font-family: var(--first-font);
        background: linear-gradient(to bottom, #DBDBDA 0%, #F5F5F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .collection-container-main-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 5;
    }

    .collection-container-box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .collection-container-text-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .collection-container-text-box h3 {
        color: #333D4B;
        font-family: var(--first-font);
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        /* 133.333% */
    }

    .collection-container-text-box p {
        color: #333D4B;
        font-family: var(--second-font);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 166.667% */
    }

    .us-container {
        height: 600px;
    }

    .us-container-title-p p {
        color: #FEFCF7;
        text-align: center;
        font-family: var(--second-font);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        padding: 0px 114px;
        /* 166.667% */
    }

    .us-container-main-box {
        display: flex;
        flex-direction: column;
        top: 100%;
    }

    .us-container-box {
        width: 700px;
        height: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding: 70px 70px;
    }

    .us-container-box .us-container-box-img {
        /* margin-bottom: 70px; */
    }

    .us-container-box .us-container-box-text {
        /* margin-bottom: 70px; */
        text-align-last: left;
    }

    .works-container-title {
        margin-top: 500px;
    }

    .footer-container-left {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 65px;
    }

}

@media screen and (max-width: 960px) {

    .hero-container {
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-container-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .collection-container-top {
        width: 700px;
    }

    .collection-container-top h1 {
        width: 700px !important;
        font-size: 80px;
        position: relative;
        background: #DBDBDA;
        background: linear-gradient(to bottom, #DBDBDA 0%, #F5F5F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .us-container-box {
        width: 550px;
        height: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding: 70px 70px;
    }

    .us-container-box .us-container-box-img {
        /* margin-bottom: 70px; */
    }

    .us-container-box .us-container-box-text {
        /* margin-bottom: 70px; */
        text-align-last: left;
    }
}

@media screen and (max-width: 760px) {

    .hero-container {
        background-size: 100% 100%;
        background-position: center;
    }

    .header-container-right {
        display: none;
    }

    .header-icon {
        display: block;
        font-size: 30px;
    }

    .header-icon a {
        text-decoration: none;
        color: #282F38;
    }

    .hero-container-title h1 {}

    .collection-container-top {
        width: 250px;
        top: -50px;
    }

    .collection-container-top h1 {
        width: 250px;
        font-size: 60px;
        position: relative;
        background: #DBDBDA;
        background: #A9ACAF;
        background: linear-gradient(to bottom, #A9ACAF 0%, #D6D7D5 61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .collection-container-box {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .us-container-title-p {
        display: none;
    }

    .us-container {
        position: relative;
        height: 1000px;
    }

    .us-container-main-box {
        display: flex;
        flex-direction: column;
        top: 1000px;
    }

    .us-container-box {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .us-container-box .us-container-box-img {
        /* margin-bottom: 70px; */
    }

    .us-container-box .us-container-box-text {
        /* margin-bottom: 70px; */
        text-align-last: center;
    }

    .works-container-title {
        margin-top: 800px;
        text-align: center;
    }

    .works-container-mian-box {
        display: flex;
        flex-direction: column;
    }

    .works-container-box {
        text-align: center;
    }

    .works-button {
        display: flex;
        justify-content: center;
    }

    .footer-container-left-part2 ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

@media screen and (max-width: 520px) {

    .hero-container-title h1 {
        color: #FEFCF7;
        text-align: center;
        font-family: var(--first-font);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        /* 100% */
    }

    .hero-container-title p {
        color: #FEFCF7;
        text-align: center;
        font-family: var(--second-font);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 166.667% */
    }

    .hero-container-title .button {
        color: #FEFCF7;
        text-align: center;
        font-family: var(--first-font);
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        /* 138.889% */
    }

    .collection-container-top {
        width: 200px;
        top: -50px;
    }

    .collection-container-top h1 {
        width: 200px;
        font-size: 40px;
        position: relative;
        background: #DBDBDA;
        background: #A9ACAF;
        background: linear-gradient(to bottom, #A9ACAF 0%, #D6D7D5 61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .collection-container-main-box {
        gap: 50px;
    }

    .collection-container-box {
        /* width: 200px; */
    }

    .collection-container-box img {
        width: 250px;
    }

    .us-container-box {
        width: 270px;
        height: 450px;
        padding: 100px 10px;
    }

    .us-container-title-h1 {
        padding: 0px 30px;
    }
}